html {
  box-sizing: border-box;
  font-family: Merriweather, serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  font-style: italic;
  font-weight: normal;
  font-size: 1.8rem;
  margin: 1.5rem;
}

h2 {
  font-style: italic;
  font-weight: normal;
  font-size: 1.5rem;
  margin: 0;
}

div p {
  color: white;
}

img {
  width: 100%;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: .75rem;
  grid-template-areas:
    "wonder wonder wonder"
    "wonder2 wonder3 wonder4";
}

figure {
  margin: 0;
}

header {
  margin: 0;
}

div h2, p {
  margin: 0;
  grid-column: 1 / 3;
  grid-row: 1;
  color: white;
}

.pano {
  grid-area: wonder;
}

.wonder {
  margin: 1rem;
  grid-area: wonder;
  align-self: end;
  z-index: 1;
}

.wonder2 {
  grid-area: wonder2;
}

.wonder3 {
  grid-area: wonder3;
}

.wonder4 {
  grid-area: wonder4;
}

figcaption h2 {
  margin: 1rem;
}

dl {
  margin: 1rem;
}

dt {
  font-style: italic;
}
